<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Veronica Taucci</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="assets/img/profile-img.jpg" rel="icon">
<link href="assets/img/profile-img.jpg" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="../public/css/style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- =======================================================
* Template Name: iPortfolio - v3.9.1
* Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
<style>

    body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    }

    a {
    color: #149ddd;
    text-decoration: none;
    }

    a:hover {
    color: #37b3ed;
    text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: "Raleway", sans-serif;
    }

    /*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
    .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    }

    .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
    }

    .back-to-top:hover {
    background: #2eafec;
    color: #fff;
    }

    .back-to-top.active {
    visibility: visible;
    opacity: 1;
    }

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/

    #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
    }

    #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    }

    #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    }

    #header .profile h1 a,
    #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
    }

    #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    }

    #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
    }

    #main {
    margin-left: 300px;
    }

    @media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
    }

    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /* Desktop Navigation */
    .nav-menu {
    padding: 30px 0 0 0;
    }

    .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    }

    .nav-menu a,
    .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    }

    .nav-menu a i,
    .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
    }

    .nav-menu a:hover,
    .nav-menu .active,
    .nav-menu .active:focus,
    .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
    }

    .nav-menu a:hover i,
    .nav-menu .active i,
    .nav-menu .active:focus i,
    .nav-menu li:hover>a i {
    color: #149ddd;
    }

    /* Mobile Navigation */
    .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
    }

    .mobile-nav-active {
    overflow: hidden;
    }

    .mobile-nav-active #header {
    left: 0;
    }

    /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
    #hero {
    /* width: 100%; */
    /* height: 100vh; */
    /* background: url("../img/unsplash.jpg") top center; */
    /* background-size: cover; */
    }

    #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    /* position: absolute; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    }

    #hero .hero-container {
    /* position: relative; */
    /* z-index: 2; */
    /* min-width: 300px; */
    }

    #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #06244b;
    }

    #hero p {
    color: rgba(13, 3, 90, 0.886);
    /* margin-bottom: 50px; */
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    }

    #hero p span {
    color: rgba(13, 3, 90, 0.886);
    /* padding-bottom: 4px; */
    letter-spacing: 1px;
    border-bottom: 3px solid #022332;
    }

    @media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
    }

    @media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    }

    /*--------------------------------------------------------------
    # Sections General
    --------------------------------------------------------------*/
    section {
    padding: 60px 0;
    overflow: hidden;
    }

    .section-bg {
    background: #f5f8fd;
    }

    .section-title {
    padding-bottom: 30px;
    }

    .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
    }

    .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
    }

    .section-title p {
    margin-bottom: 0;
    }

    /*--------------------------------------------------------------
    # About
    --------------------------------------------------------------*/
    .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    }

    .about .content ul {
    list-style: none;
    padding: 0;
    }

    .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    }

    .about .content ul strong {
    margin-right: 10px;
    }

    .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
    }

    .about .content p:last-child {
    margin-bottom: 0;
    }

    /*--------------------------------------------------------------
    # Facts
    --------------------------------------------------------------*/
    .facts {
    padding-bottom: 30px;
    }

    .facts .count-box {
    padding: 30px;
    width: 100%;
    }

    .facts .count-box i {
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
    }

    .facts .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
    margin-left: 60px;
    }

    .facts .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #122f57;
    }

    .facts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #122f57;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
    }

    .facts .count-box a:hover {
    color: #1f5297;
    }

    /*--------------------------------------------------------------
    # Akills
    --------------------------------------------------------------*/
    .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    }

    .skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    }

    .skills .progress .skill .val {
    float: right;
    font-style: normal;
    }

    .skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
    }

    .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
    }

    /*--------------------------------------------------------------
    # Resume
    --------------------------------------------------------------*/
    .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
    }

    .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
    }

    .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
    }

    .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    }

    .resume .resume-item ul {
    padding-left: 20px;
    }

    .resume .resume-item ul li {
    padding-bottom: 10px;
    }

    .resume .resume-item:last-child {
    padding-bottom: 0;
    }

    .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
    }

    /*--------------------------------------------------------------
    # Portfolio
    --------------------------------------------------------------*/
    .portfolio-container{
    margin-left: 50px;
    }
    @media (max-width: 540px) {
    .portfolio-container{
        margin-left: 0px;
        margin-right: 20px;
    }
    }
    .portfolio-links{
    display: flex;
    }

    .portfolio .portfolio-item {
    margin-bottom: 30px;
    }

    .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
    }

    .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    }

    .portfolio #portfolio-flters li:hover,
    .portfolio #portfolio-flters li.filter-active {
    color: #149ddd;
    }

    .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
    }

    .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    }

    .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
    }

    .portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    }

    .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    font-size: 28px;
    text-align: center;
    background: rgba(20, 157, 221, 0.75);
    transition: 0.3s;
    width: 50%;
    }

    .portfolio .portfolio-wrap .portfolio-links a:hover {
    background: rgba(20, 157, 221, 0.95);
    }

    .portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid #37b3ed;
    }

    .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    }

    .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
    }

    /*--------------------------------------------------------------
    # Portfolio Details
    --------------------------------------------------------------*/
    .portfolio-details {
    padding-top: 40px;
    }

    .portfolio-details .portfolio-details-slider img {
    width: 100%;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #149ddd;
    }

    .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
    }

    .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    }

    .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    }

    .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
    }

    .portfolio-details .portfolio-description {
    padding-top: 30px;
    }

    .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    }

    .portfolio-details .portfolio-description p {
    padding: 0;
    }

    /*--------------------------------------------------------------
    # Services
    --------------------------------------------------------------*/
    .services .icon-box {
    margin-bottom: 20px;
    }

    .services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
    }

    .services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
    }

    .services .icon-box:hover .icon {
    background: #fff;
    }

    .services .icon-box:hover .icon i {
    color: #149ddd;
    }

    .services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    }

    .services .title a {
    color: #343a40;
    }

    .services .title a:hover {
    color: #149ddd;
    }

    .services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
    }

    /*--------------------------------------------------------------
    # Testimonials
    --------------------------------------------------------------*/
    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
    overflow: hidden;
    }

    .testimonials .testimonial-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
    }

    .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
    }

    .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    }

    .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
    }

    .testimonials .testimonial-item .quote-icon-left,
    .testimonials .testimonial-item .quote-icon-right {
    color: #c3e8fa;
    font-size: 26px;
    }

    .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
    }

    .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    }

    .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #fff;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

    .testimonials .testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
    }

    .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
    }

    .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
    }

    .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #149ddd;
    }

    /*--------------------------------------------------------------
    # Contact
    --------------------------------------------------------------*/
    .contact {
    padding-bottom: 130px;
    }

    .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

    .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    }

    .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
    }

    .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
    }

    .contact .info .email p {
    padding-top: 5px;
    }

    .contact .info .social-links {
    padding-left: 60px;
    }

    .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
    }

    .contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
    }

    .contact .info .email:hover i,
    .contact .info .address:hover i,
    .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
    }

    .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

    .contact .php-email-form .form-group {
    padding-bottom: 8px;
    }

    .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
    }

    .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    }

    .contact .php-email-form .error-message br+br {
    margin-top: 25px;
    }

    .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    }

    .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    }

    .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
    }

    .contact .php-email-form .form-group {
    margin-bottom: 15px;
    }

    .contact .php-email-form label {
    padding-bottom: 8px;
    }

    .contact .php-email-form input,
    .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    }

    .contact .php-email-form input {
    height: 44px;
    }

    .contact .php-email-form textarea {
    padding: 10px 15px;
    }

    .contact .php-email-form button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    }

    .contact .php-email-form button[type=submit]:hover {
    background: #37b3ed;
    }

    @-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    }

    @keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    }

    /*--------------------------------------------------------------
    # Breadcrumbs
    --------------------------------------------------------------*/
    .breadcrumbs {
    padding: 20px 0;
    background: #f9f9f9;
    }

    .breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
    }

    .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    }

    .breadcrumbs ol li+li {
    padding-left: 10px;
    }

    .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #0e2442;
    content: "/";
    }

    @media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
    }

    /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    #footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
    }

    #footer .copyright {
    text-align: center;
    }

    #footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
    }

    @media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
    }

    .hideText{
    color: #f8f4f4;
    }

</style>


</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
<div class="d-flex flex-column">

    <div class="profile">
    <img src="assets/img/profile-pic.jpg" alt="" class="img-fluid rounded-circle">
    
    <h1 class="text-light"><a href="index.html">Veronica Taucci</a></h1>
    
    <form method="POST" action="/social-media-links" class='socialMediaUpdateForm' hidden>
        {{! twitter  }}
        <input class="form-control" type='text' name='twitter' placeholder='twitter link'/>
        <div>
        <input type="checkbox" id="twitter" name="displaytwitter" checked>
        <label for="twitter">Display twitter link</label>
        </div>
        {{! facebook  }}
        <input class="form-control" type='text' name='facebook' placeholder='facebook link'/>
        <div>
        <input type="checkbox" id="facebook" name="displayfacebook" checked>
        <label for="facebook">Display Facebook link</label>
        </div>
        {{! LinkedIn  }}
        <input class="form-control" type='text' name='linkedin' placeholder='LinkedIn link'/>
        <div>
        <input type="checkbox" id="linkedin" name="displaylinkedin" checked>
        <label for="linkedin">Display LinkedIn link</label>
        </div>
        {{! Github  }}
        <input class="form-control" type='text' name='github' placeholder='Github link'/>
        <div>
        <input type="checkbox" id="github" name="displaygithub" checked>
        <label for="github">Display github link</label>
        </div>
        {{! instagram  }}
        <input class="form-control" type='text' name='instagram' placeholder='Instagram link'/>
        <div>
        <input type="checkbox" id="instagram" name="displayinstagram" checked>
        <label for="instagram">Display instagram link</label>
        </div>
        <button type="button" class="btn btn-secondary">update</button>
    </form>
        <button class='displaySocialMediaUpdateForm'>Change Links</button>
        <div class="social-links mt-3 text-center">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.linkedin.com/in/veronica-taucci/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/VeronicaTaucci" class="linkedin" target="_blank"><i class="bx bi-github"></i></a>
            <a href="https://www.instagram.com/books.and.code/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>     
        </div>
        </div>

    <nav id="navbar" class="nav-menu navbar">
    <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <!-- <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li> -->
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#facts" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
    </ul>
    </nav><!-- .nav-menu -->
</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
<div class="hero-container" data-aos="fade-in">
    <h1>Hello World!</h1>
    <p>I'm a Veronica, a  
    <span class="typed" data-typed-items="Software Developer "></span>
    
    </p>
</div>
</section> -->
<!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
    <div class="section-title">
        <!-- <h2>About</h2> -->
        <div id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container mb-5" data-aos="fade-in">
            <h1 class="helloMessage">Hello World!</h1>
            <h1 class="helloMessage">Hello World!</h1>
            <h1 class="helloMessage">Hello World!</h1>
            <p>I'm a Veronica, 
            <span class="typed" data-typed-items=" innovative, enthusiastic,deadline driven, developer"></span>
            </p>
        </div>
        </div>
        <!-- <p>I'm a Full-Stack software engineer focused on delivering value and making the world a better place. I enjoy building awesome things and experimenting with code. I’m really passionate about neuroscience, books, tennis and techno music. Always looking for ways to improve myself.</p> -->
    </div>

    <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-pic.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8  pt-4 pt-lg-0 content  " data-aos="fade-left">
        <!-- <h3>Web Developer.</h3> -->
        <p class="fst-italic">
            <h4 class=""><em>Full Stack Software Developer focused on delivering value and <br/><br/>making the world a better place. <br/><br/>
            I enjoy building awesome things and experimenting with code. <br/> <br/>Really passionate about neuroscience, books, tennis and techno music. 
            <br/><br/> Always looking for ways to improve myself.</em></h4>
        </p>
        </div>
    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container">

    <div class="section-title">
        <h2>Facts</h2>
        <h3>I will create a website from nothing into one completely formed, well structured and fully functional. I do not use tricks, nor is this magic. Just some of these tools:</h3>
    </div>

    <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
        <div class="count-box">
            <i class="bi  bi-code"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Front End Development</strong> HTML5, CSS, Bootstrap, Javascript, React, Redux, jQuery, EJS, Mustache</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
            <i class="bi bi-filetype-js"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Backend Development</strong> Node.js, Express, Sequelize, PostgreSQL, Authentification, Sessions </p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
            <i class="bi bi-git"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Developer Tools
            </strong> Github, Visual Studio</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
            <i class="bi bi-bounding-box"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Fully Responsive</strong> Development of full stack web applications that are mobile friendly</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
            <i class="bi bi-bounding-box"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Team Oriented</strong> Years of experience working in a team setting, and thrives in a collaborative environment.</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
            <i class="bi bi-google"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Googling </strong> I have a good understanding of how Google search works and that makes me a better problem solver.</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
            <i class="bi bi-clipboard-check"></i>
            <!-- <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span> -->
            <p><strong>Feature Endeavors:</strong> AWS, JAVA, TypeScript</p>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Facts Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

    <div class="section-title">
        <h2>Resume<a  href="./assets//Updated_resume_06.09.pdf" target="_blank"> (pdf)</a></h2> 
        <h3></h3>
        <p>Here is a little more about me:</p>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
            <h4>Veronica Taucci</h4>
            <p><em>Innovative and deadline-driven Full Stack Software Developer</em></p>
            <ul>
            <li>Full Stack Software Developer</li>
            <li>Naples, FL</li>
            <li>taucci.veronica@gmail.com</li>
            </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
            <h4>DigitalCrafts Coding Bootcamp / Remote </h4>
            <h5>June 2022</h5>
            <p><em>Certificate Full Stack Developer</em></p>
            <p>Immersive software developer training program covering full-stack development including, but not limited to JavaScript, HTML,
            CSS with an emphasis on cutting-edge frameworks like React, Bootstrap and server-side technologies including Node.js,
            Python, Express, and PostgreSQL.</p>
        </div>
        <div class="resume-item">
            <h4>University of economic studies of Moldova </h4>
            <h5>September 2011 - May 2014</h5>
            <p><em>Bachelor's degree in Business and Administration / Acquisitions</em></p>
            <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
        </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
            <h4>Teaching Assistant for DigitalCrafts Coding Bootcamp</h4>
            <h5>February 2022 - Present</h5>
            <p><em>Guide and mentor  groups of students as they are starting their new careers in technology, help them to enhance the learning process and provide support they need.</em></p>
        </div>
        <div class="resume-item">
            <h4>Permit Technician, Collier County, Naples FL</h4>
            <h5>September 2021 - February 2022 </h5>
        </div>
        <div class="resume-item">
            <img src="./assets/img/full_stack_certificate.png" style="width: 35vw;" alt="">
        </div>
        </div>
    </div>

    </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
    
    </div>
    <div class="modal-body">
    <!-- <div class="row gy-4"> -->
        <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img  src="assets/img/portfolio/habitCity1.png" alt="">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/portfolio/ManageHabits.png" alt="">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/portfolio/habitCity (1).png" alt="">
            </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        
        
        <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
            <li><strong>Name:</strong>: Habit city</li>
            <li><strong>Description: </strong> Habit tracker that helps you build good habits and routines</li>
            <li><strong>Github: </strong> <a href="https://github.com/VeronicaTaucci/HabitCity">Github</a></li></li>
            <li><strong>Tech Stack: </strong> Node JS, JavaScript, HTML, CSS, PostgreSQL, CSS FlexBox, Bootstrap, Sequelize, Express, Passport</li>
            <li>This is an app that helps you to build good habits, reach your goals, keep records, track streaks and add comments for each habit. As a member of a 3-person team, my main responsibilities were to implement a responsive design that works on Chrome on OSX, iOS devices, and Android devices, create a well structured HTML and access at least 2 remote APIs</li>
            </ul>
        </div>

    <!-- </div> -->
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>
</section><!-- End Portfolio Section -->




<!-- ======= Services Section ======= -->
<!-- <section id="services" class="services">
    <div class="container">

    <div class="section-title">
        <h2>Services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Dolor Sitema</a></h4>
        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Magni Dolores</a></h4>
        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-brightness-high"></i></div>
        <h4 class="title"><a href="">Nemo Enim</a></h4>
        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
    </div>

    </div>
</section>End Services Section -->

<!-- ======= Testimonials Section ======= -->
<!-- <section id="testimonials" class="testimonials section-bg">
    <div class="container">

    <div class="section-title">
        <h2>Testimonials</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    <!-- </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
            <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            </div>
        </div><!-- End testimonial item -->

        <!-- <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            </div>
        </div><!-- End testimonial item -->

        <!-- <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
            <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            </div>
        </div> --> 
        <!-- End testimonial item -->

        

        

        <!-- </div>
        <div class="swiper-pagination"></div>
    </div>

    </div>
</section> -->
<!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

    <div class="section-title">
        <h2>Contact</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>

    <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
            <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Naples, FL</p>
            </div>

            <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>taucci.veronica@gmail.com</p>
            </div>
            <div class="email">
            <i class="bi bi-file-earmark-person"></i>
            <h4>Resume:</h4>
            &nbsp &nbsp <a  href="./assets//Updated_resume_06.09.pdf" /> Resume (pdf)</a>               
            </div>
        </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
            <form id="contact-form" class="php-email-form">
            <input type="hidden" name="contact_number">
            <div class="row">
            <div class="form-group col-md-6">
                <label for="from_name">Your Name</label>
                <input type="text" name="from_name" class="form-control" id="from_name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            </div>
            <!-- <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
            </div> -->
            <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" name="message" id="message" rows="10" required></textarea>
            </div>
            <!-- <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
        </div>

    </div>

    </div>
</section>
<!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <div class="copyright">
    &copy; Copyright <strong><span>iPortfolio</span></strong>
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

{{! <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
    (function () {
    // https://dashboard.emailjs.com/admin/account
    emailjs.init('mqlXnwqR0R4RMjtT_');
    })();
</script>
<script type="text/javascript">
    window.onload = function () {
    document.getElementById('contact-form').addEventListener('submit', function (event) {
        event.preventDefault();
        // generate a five digit number for the contact_number variable
        this.contact_number.value = Math.random() * 100000 | 0;
        // these IDs from the previous steps
        emailjs.sendForm('service_hyi4qmq', 'template_x1g3251', this)
        .then(function () {
            console.log('Message Sent Successfully!');
            alert('Message Sent Successfully!');
        }, function (error) {
            console.log('FAILED...', error);
            alert('MESSAGE FAILED, PLEASE TRY AGAIN.');
        });
    });
    }
</script> }}

<!-- Template Main JS File -->
{{! <script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> }}
<script>
console.log('hey')
let displaySocialMediaUpdateForm = document.getElementsByClassName('displaySocialMediaUpdateForm')
let socialMediaUpdateForm =document.getElementsByClassName('socialMediaUpdateForm')
displaySocialMediaUpdateForm.addEventListener('click',()=> {
    console.log('clickes')
    socialMediaUpdateForm.removeAttribute('hidden')})

</script>
</body>

</html>